.settings-content-container {
    position: absolute;
    top: 12%;
    left: 10%;
    width: 1670px;
}

.table-container {
    width: 100%;
    margin-bottom: 20px;
}

table a {
    text-decoration: none;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table-container th,
.table-container td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: middle;

}

.table-container th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.header-container {
    margin-bottom: 1rem;
}

.btn {
    margin-top: 1rem;
}

.dropzone {
    border: 2px dashed #ddd;
    padding: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.dropzone p {
    margin: 0;
    overflow: hidden;
}

.dropzone:hover {
    background-color: #f7f7f7;
}

.dropzone .file {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}